<div class="container">
  <h1 class="text-center">Edit <%= @tv.name %> TV</h1>
  <%= simple_form_for (@tv) do |f| %>
  <div>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :year %>
    <%= f.input :size %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class: "btn-main" %>
  </div>
  <% end %>
</div>
