<div class="container">
  <div class="banner-container p-5 " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1555215695-3004980ad54e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
  </div>
  <div class="heading-container">
    <p id="index-page-heading">'TV'</p>
  </div>
  <ul class="breadcrumbs">
    <li class="breadcrumbs">HOME / ALL TVS</li>
  <!--   <li class="breadcrumbs">ALL TVS </li> -->
  </ul>
  <div class="index-page-row">
    <div class="filter-container col-3">
      <%= simple_form_for :search, url: tvs_path,  method: :get, remote: true do |f|%>
        <%= f.input :name, collection: @tvs_all.map(&:name).uniq %>
        <%= f.input :size, collection: @tvs_all.map(&:size).uniq %>
        <%= f.input :year, collection: @tvs_all.map(&:year).uniq %>
        <%= f.input :price, collection: @tvs_all.map(&:price).uniq %>
        <div class="text-center mb-4">
          <%= f.submit "Search", class: "dtv-button" %>
        </div>
        <div class="text-center">
          <%= link_to 'View All', tvs_path, class: "dtv-button-light" %>
        </div>
      <% end %>
    </div>
    <div class="product-grid col-9">
      <%= render 'shared/tvsindex-card', tvs: @tvs %>
    </div>
  </div>
</div>

<div class="recently-viewed-container text-center p-5">

</div>
<div class="recently-viewed-container text-center p-5">
  <p>Recently Viewed Items</p>
  <%#= render 'shared/tvsindex-card', tvs: @tvs %>
</div>





  <!-- <%# if current_user.try(:admin?) == true %>
      <div class="ml-5">
        <%#= link_to 'Create Tv', new_tv_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  <%# end %> -->

