<div class="container-form-form">
  <div class="simple-form container">
    <%= simple_form_for :search, url: tvs_path,  method: :get, remote: true do |f|%>
    <div class="row">
      <div class="col-4">
        <%= f.input :name, collection: @tvs_all.map(&:name).uniq %>
        <%= f.input :size, collection: @tvs_all.map(&:size).uniq %>
        <%= f.input :year, collection: @tvs_all.map(&:year).uniq %>
        <%= f.input :price, collection: @tvs_all.map(&:price).uniq %>
      </div>
    </div>



<div>
 <%= simple_form_for(@tv) do |f| %>
     <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <% end %>
</div>

<%= cl_image_tag @tv.photo.key, height: 300, width: 400, crop: :fill %>


  <div class="d-flex justify-content-space-around text-align-center">
    <div class="mr-5">
      <%= f.submit "Search", class: "btn btn-secondary" %>
    </div>
    <div>
      <%= link_to 'View All', tvs_path, class: 'btn btn-secondary' %>
    </div>
  </div>

  <% end %>
  </div>
<div id="tvs">
  <%= render 'shared/tvsindex', tvs: @tvs %>
</div>
</div>
