<%= simple_form_for (@tv_new) do |f| %>
<div>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :year %>
  <%= f.input :size %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit, class: "btn-main" %>
</div>
<% end %>
