<div class="container form-container">
  <div class="newtv-heading-container">
    <h3>Add a new listing</h3>
    <button>here</button>
  </div>
  <%= simple_form_for (@tv_new) do |f| %>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <%= f.input :name %>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <%= f.input :size %>
    </div>
  </div>
   <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <%= f.input :price %>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <%= f.input :year %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <%= f.input :description %>
    </div>
  </div>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class: "dtv-button" %>
  <% end %>
</div>
