<div class="container">
   <div class="row ">
    <div class="mb-3">
      <h4>Tv name</h4>
      <p><%= @tv.name %></p>



      <h4>Tv size</h4>
      <div class="dropdown mb-3 ">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose your size
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"><p><%= @tv.size %>"</p></a>
        </div>
      </div>




      <h4>Description</h4>
      <p><%= @tv.description %></p>
      <h4>Price</h4>
      <p>£<%= @tv.price %></p>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
        <label class="custom-control-label" for="defaultUnchecked">TV Recycling</label>
    </div>
    </div>
   </div>
<%= link_to 'Continue Shopping', tvs_path, class: "btn btn-primary"%>


</div>
