<% @best_sellers.each do |tv| %>
<%= link_to tv_path(tv) do %>
  <div class="" style="width: 20rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= tv.name %></h5>
      <p class="card-text"><%= tv.description %>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= tv.price %></li>
      <li class="list-group-item"><%= tv.size %></li>
      <li class="list-group-item"><%= Date.today %></li>
    </ul>
  </div>
<% end %>
<% end %>


