<div class="whole-footer border-property">

  <div class="footer row">
    <div class="aligned col-6 col-md-4 justify-content-center">
      <div class="ptags text-left">
        <%= link_to "Customer Service", tvs_path, class: "nav-link" %>
        <%= link_to "About Us", tvs_path, class: "nav-link" %>
        <%= link_to "Contact Us", tvs_path, class: "nav-link" %>
      </div>
    </div>
      <div class="aligned col-6 col-md-4 justify-content-center">
      <div class="ptags text-center">
        <%= link_to "TV Range", tvs_path, class: "nav-link" %>
        <%= link_to "Delivery/Terms", tvs_path, class: "nav-link" %>
        <%= link_to "1", tvs_path, class: "nav-link" %>
      </div>
    </div>
    <div class="aligned col-6 col-md-4 justify-content-center">
      <div class="ptags text-right">
        <%= link_to "FAQS", tvs_path, class: "nav-link" %>
        <%= link_to "Privacy Policy", tvs_path, class: "nav-link" %>
        <%= link_to "2", tvs_path, class: "nav-link" %>
      </div>
    </div>
  </div>

  <div class="social-links text-center d-flex justify-content-center border-property pb-4 pt-4">
    <div class="links mr-5">
      <a href="https://www.instagram.com/discounttv/?hl=en" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram fa-1x"></i></a>
      <a href="#"><i class="fab fa-facebook fa-1x"></i></a>
    </div>
    <div class="credit-image ml-5">
      <img id="creditcards" target="_blank" rel="noopener noreferrer" src="//assets.ransomspares.co.uk/Shop/Images/CreditCards.png" alt="">
    </div>
  </div>

  <div class="border-property text-center p-4">
    <p>DISCOUNT TVS 2020 © ALL RIGHTS RESERVED</p>
  </div>

</div>
