<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

<div>
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://www.ransomspares.co.uk/Themes/Custom/Assets/Images/Logo.png" %>
    <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>



  <div class="navbar-headings-center">
    <div class="nav-item">
      <%= link_to "Home", root_path, class: "nav-link" %>
      <%= link_to "Shop", tvs_path, class: "nav-link" %>
      <%= link_to "Contact", root_path, class: "nav-link" %>
    </div>
  </div>




  <div class="nav-items">

    <div class="nav-item">
      <%= link_to new_user_session_path, class: "nav-link" do %>
        <span class="login"><i class="fas fa-user"></i> </span>
      <% end %>
    </div>
    <div class="nav-item">
      <%= link_to root_path, class: "nav-link" do %>
        <span class="login"><i class="fas fa-shopping-basket"></i> </span>
      <% end %>
    </div>

  </div>


</div>
