 <% @tvs.each do |t| %>
  <%= link_to tv_path(t.id) do %>
   <div class="mydiv">
    <div class="tv">
        <div class="tv-index-image" style="background-image: url(<%= t.photos.first ? (cl_image_path t.photos.first.key, crop: :fill) : ""  %>)"></div>
        <div class="tv-infos">
          <h2><%= t.name %></h2>
          <h2><%= t.size %>"</h2>
          <h2>£<%= t.price %></h2>
        <%= Date.today %>
      </div>
    </div>
  </div>
<% end %>
<% end %>
