<div class="tvindex-card-style">
  <% @tvs.each do |tv| %>
  <%= link_to tv_path(tv) do %>
  <div class="product-card" style="width: 18rem;">
    <div class="product-image border-bottom bg-grey pb-2">
      <img class="card-img"  src="https://discounttvs.co.uk/wp-content/uploads/2020/02/4K-TV.jpg" alt="Card image cap">
    </div>
    <!-- <div class="product-image" style="background-image: url(<%#= tv.photos.first ? (cl_image_path tv.photos.first.key, crop: :fill) : ""  %>)"></div> -->
    <div class="product-description pt-1">
      <h5><%= tv.name %></h5>
      <p><%= tv.description %>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="extra-info border-top pt-1 pb-1">
      <div class="product-price">
        £<%= tv.price %>
      </div>
      <div class="product-size border-top pt-1 pb-1">
        <%= tv.size %>" inch
      </div>
      <div class="date-listed border-bottom border-top pt-1 pb-1">
        Date Listed <%= Date.today %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
