<html>
<body>.

  <div class="banner mb-3">
    <div class="slogan-box text-center">
      <h1 class=" mb-4">ORDER TODAY.. <strong>PAY ON DELIVERY DAY</strong></h1>
      <button type="button" class="dtv-button" ><%= link_to "Shop Now", tvs_path, class: "dtv-button"  %></button>
    </div>
    <div class="mt-4">
     <!--  <h2 class="text-center mt-3">Search for your new TV here</h2> -->
      <%= render 'shared/search' %>
    </div>
  </div>
    <div class="row justify-content-center mt-3">
    </div>
  <div class="container mb-4">
    <div class="" data-aos="zoom-in">
      <!-- <h2 class="grid-title-font text-center border-bottom mb-3 pb-3 mt-5 ">Choose your TV</h2> -->
      <div class="row wrap">
        <div class="col-lg-6 col-md-12 col-sm-12 box-long-padding">
        <%= link_to tvs_path do %>
          <div class="grid-box-long">
            <img class="grid-box-image-long" src="https://discounttvs.co.uk/wp-content/uploads/2020/02/4K-TV.jpg" alt="">
            <div class="text-inner-box">
            <h2>4K TV</h2>
            </div>
          </div>
        </div>
        <% end %>
        <div class="col-lg-6 col-md-12 col-sm-12 box-tr-padding">
        <%= link_to tvs_path do %>
          <div class="box-top-right">
            <img class="box-top-right-image" src="https://discounttvs.co.uk/wp-content/uploads/2020/02/Curved-TV.png" alt="">
          <div class="text-inner">
            <h2>Curved TV</h2>
          </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
          <%= link_to tvs_path do %>
          <div class="grid-bottom">
            <img class="grid-bottom-image" src="https://discounttvs.co.uk/wp-content/uploads/2020/02/8K-TV.jpg" alt="">
            <div class="text-inner">
              <h2>8K TV</h2>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <%= link_to tvs_path do %>
          <div class="grid-bottom">
            <img class="grid-bottom-image" src="https://discounttvs.co.uk/wp-content/uploads/2020/02/TheFrameTV.jpg" alt="">
            <div class="text-inner-box3">
              <h2>The Frame TV</h2>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <%= link_to tvs_path do %>
          <div class="grid-bottom">
            <img class="grid-bottom-image" src="https://discounttvs.co.uk/wp-content/uploads/2020/02/OLED-TV.jpg" alt="">
            <div class="text-inner">
              <h2>OLED TV</h2>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax">
    <div id="style="height:100px;background-color:transparent;font-size:18px></div>
  </div>
    <!-- <div class="text-big" data-aos="fade-right">
      <h2>We are a group of analytically minded individuals, who seek to provide a new perspective on how organisational value can be distributed.</h2>
    </div> -->

  <div class="order-process-container">
    <div class="container">
      <%= render 'shared/cardhome' %>
    </div>
  </div>

  <div class="container">
    <h2 class="bestsellers-title text-center border-bottom m-5 p-3">Best Sellers</h2>
    <div class="row d-flex justify-content-around mt-2 pb-5">
      <% @best_sellers.each do |tv| %>
        <%= render 'shared/bestsellers' %>
      <% end %>
    </div>
  </div>

  <div class="parallax">
    <div id="style="height:100px;background-color:transparent;font-size:18px></div>
  </div>

  <div class="review-container pt-5 pb-5">
    <div id="carouselExampleIndicators" class="carousel slide bg-transparent" data-ride="carousel">
      <h4 class="text-center mt-2 pt-2">What our customers think</h4>
      <div class="carousel-inner">
      <!-- for every review, we are going to iterate over and if its the first review, then give it the active class otherwise its not active. (needs to be active, because additional JS is being run in the background for each carosel) -->
        <% @reviews.each_with_index do |review, index| %>
          <div class="carousel-item discounttv-carosel-slide text-center  <%= index == 0 ? 'active' : '' %>">
            <h2>"<%= review[:content] %>"</h2>
            <h3><%= review[:name] %></h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="">
    <%= render 'shared/form' %>
  </div>

  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>

  <%= yield %>

</body>
</html>
